.idea/
ngrok.exe
/.env
/db.sqlite3
/logs.log
logs/
# migrations
apps/authentication/migrations/
apps/bot/migrations/
apps/user/migrations/
apps/files/migrations/
apps/tools/migrations/
apps/loads/migrations/
apps/payment/migrations/
apps/integrations/migrations/

media/uploads/
static/
g_config.py
apps/tools/settings.json