celery
django
django-filter
djangorestframework
django-cors-headers
django-crontab
djangorestframework-simplejwt
drf-yasg
gunicorn
python-dotenv
pyTelegramBotAPI
psycopg2-binary
pytz
redis
xmltodict
requests